body {
    background-color: rgb(219 202 202 / 20%);
}

.content {
    background-color: transparent;

    padding: 20px 0px;
    z-index: 999px;
    /* position: fixed; */
    /* border-bottom: 1px solid gray; */
}
input .form_input {
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}
.date {
    line-height: 0;
    color: #a3a3a3;
    font-size: 14px;
}
.input-search {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    height: 48px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 2.7px 27.03px 0 rgba(69, 69, 80, 0.1);
}
.nav-baar {
    justify-content: space-between;
    display: flex;
}

.navbar-brand {
    color: #525256;
    font-size: 20px;
    font-weight: 500;
}

.bi-bell {
    height: 24px;
    width: 24px;
    padding-right: 20px;
    margin-top: 15px;
    color: #525256;
}

.all-search {
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    outline: none;
    border: none !important;
    padding-left: 20px;
}
input .form_input {
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}
.input-search input::placeholder {
    color: rgba(163, 163, 163, 1);
}
.input-search input {
    border: none;
    outline: 0;
}

/* input.form-control::placeholder {
				padding-left: 10px;
			} */

.bi-search {
    margin-top: 10px;
}
.search_box {
    display: flex;
    align-items: center;
    gap: 20px;
}
