#technician {
    background-color: #8b0d35;
}
.nav-pills1 .nav-link1.active span svg path {
    fill:#ffffff;
    border: red;
}
.main-section { 
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgba(162, 161, 168, 0.2);
}
.top-section {
    border-bottom: 1px solid lightgray;
}
.profile-sec {
    padding-bottom: 5px;
    display: flex;
    gap: 15px;
}
.ac-repair .this-ali-1 {
    padding-top: 10px;
    line-height: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #16151c;
}
.this-ali-2 img,
.this-ali-3 img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
.this-ali-2,
.this-ali-3 {
    font-size: 16px;
    line-height: 0px;
}
.edit-btn {
    background-color: #232f4b;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.edit-btn img {
    color: #fff;
    padding-right: 5px;
}

/* tab-section */

.tab-section .profile-detail {
    display: block;
}

.change-tabs {
    background-color: transparent;
    height: 224px;
    margin-top: 20px;
    padding: 0px 0px;
    border: 1px solid rgba(162, 161, 168, 0.2);
    border-radius: 10px;
}
.nav-pills1 .nav-link1.active,
.nav-pills1 .show > .nav-link1 {
    color: #ffff;
    background-color: #232f4b;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
}
.nav-pills1 .nav-link1 {
    border: none;
    width: 100%;
    padding: 10px 20px;
    text-align: start;
}
.nav-pills1 .nav-link1 img.active,
.nav-pills1 .show > .nav-link1 img {
    color: #ffff;
}

/* Sidetab -section */
.Personal-Information {
    background-color: none;
    color: black;
}
.Personal-Information img {
    padding-right: 5px;
    height: 24px;
    width: 24px;
}
.Personal-Information:hover {
    color: black;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #232f4b;
    border-bottom: 2px solid #232f4b;
    background-color: transparent;
    border-radius: 0px;
    font-weight: 600;
}
.Professional-Information {
    background-color: none;
    color: black;
}
.Professional-Information:hover {
    color: black;
}
.Professional-Information img {
    padding-right: 8px;
    height: 24px;
    width: 24px;
}
.Documents {
    background-color: none;
    color: black;
}
.Documents img {
    padding-right: 8px;
    height: 24px;
    width: 24px;
}
.Documents:hover {
    color: black;
}
.Account-Access {
    background-color: none;
    color: black;
}
.Account-Access img {
    padding-right: 8px;
    height: 24px;
    width: 24px;
}
.Account-Access:hover {
    color: black;
}

/* ****************tabs*************************** */
.fill-details {
    border-bottom: 1px solid lightgray !important;
    border: none;
    background-color: transparent;
    border-radius: 0px;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
    background-color: transparent;
}
.choose:focus {
    border-color: none;
    box-shadow: none;
    background-color: transparent;
    outline: none;
}
.choose {
    height: 56px;
    border-radius: 10px;
    background-color: transparent;
    border-bottom: 1px solid lightgray !important;
    border: none;
}
.same-box label {
    padding: 0px 10px;
    color: #a2a1a8;
    font-size: 14px;
}
.same-box p {
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
}
.view-image input {
    border: none;
    background-color: transparent;
}
.view-image {
    display: flex;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.document-sec {
    padding: 10px 20px;
    gap: 20px;
}
.document-sec img {
    margin-top: 10px;
    cursor: pointer;
}

table {
    background-color: #f7f4f4 !important;
    margin-top: 20px;
    padding: 2px 6px;
    width: 100%;
}
table .Completed {
    color: #3fc28a;
    background-color: #d0f2e463;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;
    width: fit-content;
}
table .process {
    color: #efbe12;
    background-color: #faf3da;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;
    width: fit-content;
}
/* ************leave section********** */
.Pending {
    color: #efbe12;
    background-color: #faf3da;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;
    width: fit-content;
}
.Approved {
    color: #3fc28a;
    background-color: #d0f2e463;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;
    width: fit-content;
}
.Reject {
    color: #f45b69;
    border-radius: 2px;
    background-color: #f7dfe1;
    text-align: center;
    font-size: 12px;
    padding: 0px 10px;
    width: fit-content;
}
.box-table tr td,
.box-table tr th {
    background-color: #f7f4f4;
}
.box-table tr th {
    color: #A2A1A8;
    font-weight: 400;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: .2em .5em !important;
    border-radius: 5px !important;
}    